* {
    font-family: sans-serif;
    margin: 0%;
}

#header {
    display: inline;


}

#first {
    display: block
}

#logo {
    display: inline;
    margin-left: 40px;

}

#right {
    float: right;
    padding: 10px;
    margin-top: 10px;
    word-spacing: 29px;


}

#title {
    color: white;
    display: inline;
    font-size: 50px;
}

#subtagline {
    color: white;
    font-size: 26px;
    margin: 2%;
}

#other {
    color: white;
    font-size: 17px;
    margin: 1.5%;
}

#email {
    display: inline;

}

#emailid {
    padding-top: 4px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom: 11%;

}

main {
    font-family: sans-serif;

    text-align: center;
    margin-top: 140px;
    zoom: 110%;
    display: block;

}

#signin {
    background-color: #e50914;
    color: white;
    font-size: 26px;
    border-color: #e50914;
    padding-bottom: 5px;
}

#one {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    border-bottom: solid 8px rgb(58, 57, 57);

}

#Language {
    color: white;
    background-color: transparent;
    height: 33px;
    width: auto;
}

#rbut {
    display: inline;
    width: 67px;
    height: 33px;
    background-color: #e50914;
    color: white;
    border: transparent;
    border-radius: 2px;
    margin-right: 35px;
}

#lefts {
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 17%;
    padding-bottom: 17%;

}

#enjoy {
    font-size: 50px;
    text-align: left;
    width: 500px;
    padding-bottom: 20px;
}

#enjoytl {
    font-size: 23.5px;
    text-align: left;
    padding-bottom: 10px;
    width: 450px;
}

#rights {
    display: inline;
    float: right;
    padding-right: 10%;
    padding-top: 5%;
}

.text-center {
    text-align: center;
    width: 50%;
    display: inline-block;
}

#second {
    background-color: black;
    border-bottom: solid 8px rgb(58, 57, 57);
}
#leftt{
    display: inline-block;
}
#rightt{
    float: right;
    color:rgb(255, 255, 255);

}
.text-center2{
    display: inline-block;
    text-align: center;
}
#download{
    font-size: 50px;
    text-align: left;
    width: 600px;

}
#downloadtl{
    font-size: 23.5px;
    text-align: left;
}
#third{
    background-color: black;
    border-bottom: solid 8px rgb(58, 57, 57);
}
#leftf{
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 17%;
    padding-bottom: 17%;
}
#rightf{
    display: inline;
    float: right;
}
#watch {
    font-size: 50px;
    text-align: left;
    width: 500px;
    padding-bottom: 20px;
}
#watchtl {
    font-size: 23.5px;
    text-align: left;
    padding-bottom: 10px;
    width: 500px;
}
.text-center3 {
    text-align: center;
    width: 50%;
    display: inline-block;
}
#forth{
    background-color: black;
    border-bottom: solid 8px rgb(58, 57, 57);
}
#right5{display: inline-block;
    color: white;
    text-align: center;

}
.text-center4 {
    text-align: center;
    width: 50%;
    display: inline-block;
    color: white;
}
#left5{
    display: inline-block;
}
#create{
    font-size: 50px;
    text-align: left;
    width: 500px;
}
#createtl{
    font-size: 23.5px;
    text-align: left;
    padding-bottom: 10px;
    width: 500px;
}
#fifth{
    background-color: black;
    border-bottom: solid 8px rgb(58, 57, 57);
}
#last{
    text-align: center;
    background-color: black;
    color: white;
}
#ul1{
    display: block;
    list-style: none;
    text-align: center;
    font-size: 40px;
    
}
.faqs{text-align: left;
    width: 815px;
    height: 76px;
    font-size: 25px;
    margin: 5px;
    border: 0;
    padding-left: 30px;
    background-color: rgb(58, 57, 57);
    color: white;
}
#lastp{
    display: block;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 20px;

}
#emaillast{
    display: block;
    zoom: 110%;
    height: 135px;
    border-bottom: solid 8px rgb(58, 57, 57);
}
#lasth1{
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 50px;
}
#bottom{
    text-align: left;
    padding-left: 20%;
    font-size: 16px;color: rgb(104, 104, 104);
    background-color: black;

}
.bottom{
    font-size: 16px;
    margin-bottom: 30px;
    padding-top: 60px;
}
#data{
    width: 225px;
    height: 17.6px;
    font-size: 14px;
    padding-bottom: 20px;
}
#language2{
    width: 128px; ;
    height: 53px;
    font-size: 16px;
    background-color: transparent;
    color: rgb(104, 104, 104);
    margin-top: 20px;
    border: solid white thin ;
    border-radius: 5px;
}
#netflixindia{
    margin-top: 20px;
    padding-bottom: 30px;
}